html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-display: optional;
  background-color: var(--bg);
  color: var(--text-color-normal);
}

* {
  line-height: 1.5;
}

/* TYPOGRAPHY */

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.5;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.highlight {
  color: var(--color-highlight);
}

a {
  color: var(--color-link);
}

a:focus {
  color: var(--color-link-focus);
}

a:hover {
  color: var(--color-link-hover);
}

@media only screen and (min-width: 33.75em) {
  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 60em) {
  /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}
