:root {
  color-scheme: light dark;
  --color-white: #fff;
  --color-blue: #1f7ae0;
  --color-green: #19af55;
  --color-purple: #805de1;
  --color-border: #dde0e4;
}

html[data-theme='dark'] {
  --bg: #282a36;
  --color-link: #3f99ff;
  --color-link-hover: #248aff;
  --color-link-focus: #f1fa8c;
  --color-highlight: #f1fa8c;
  --text-color-dark: #fff;
  --text-color-light: #ffffff99;
  --text-color-normal: #ffffffde;
  --bg-btn: #44475a;
}

html[data-theme='light'] {
  --bg: #ffffff;
  --color-link: #1f7ae0;
  --color-link-hover: #248aff;
  --color-link-focus: #805de1;
  --color-highlight: #805de1;
  --text-color-dark: #000;
  --text-color-light: #81878c;
  --text-color-normal: #2f363f;
  --bg-btn: #efefef;
}
