@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000;
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffffde;
    --background: #282a36;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
